#navbar {
    position: relative;
    width: 100%;
    background-color: black;
}

#text {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-family: Raleway;
}

#title {
    margin-top: 30px;
    margin-bottom: 50px;
    font-family: Gabriela;
}

#logo {
    font-family: Indie Flower;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

#text img {
    width: 100%;
    padding: 0;
}

h4 {
    margin: 12px;
}

#about {
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
    font-family: Raleway;
}

#about h2{
    padding: 20px;
}

#about p {
    text-align: center;
}

#about #quote {
    padding-top: 20px;
}

#contact {
    margin-top: 30px;
    margin-bottom: 50px;
    font-family: Architects Daughter;
}

#contact h3 {
    text-transform: uppercase;
}

#contact i {
    display:inline-block;
    text-align: center; 
    font-size: xx-large;
    width: 70px;
    height: 70px;
}